@inherits LayoutComponentBase
@using HelloBlazor.App.Features.Auth.Services
@inject IAuthService service

@if (!isReady)
{
  <section class="d-flex flex-column justify-center align-center" style="height: 100vh; width: 100vw; gap: 1rem;">
    <MudProgressCircular Indeterminate="true" Color="Color.Primary" />
    <MudText Typo="Typo.h6" Class="mb-4">Loading...</MudText>
  </section>
}

<main style="display: @(isReady ? "block" : "none")">
  @Body
</main>


@code {
  bool isReady = false;

  protected override async Task OnAfterRenderAsync(bool firstRender)
  {
    if (firstRender)
    {
      await service.IsLoggedInAsync();
      isReady = true;
      StateHasChanged();
    }
  }
}